<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	 <header th:fragment="header(aktif)">
	 <div class="container">
	 
      <a href="/" class="logo">
        <img src="./assets/images/NFT1.jpg" width="100" height="90" alt="NFT-Logo">
      </a>
      
      <div class="header-right">
      
        <div class="header-nav-wrapper">
        
          <button class="navbar-toggle-btn" data-navbar-toggle-btn>
            <ion-icon name="menu-outline"></ion-icon>
          </button>
          
          <nav class="navbar" data-navbar>
          
            <ul class="navbar-list">
              <li th:if="${aktif} == home" class="nav-item active">
                <a href="/" class="navbar-link active">Home</a>
                </li>
                <li th:unless="${aktif} == home" class="nav-item active">
                <a href="" class="navbar-link">Home</a>
                </li>
                
            	<li th:if="${aktif} == about" class="nav-item active">
                <a href="/about" class="navbar-link active">About</a>
                </li>
                <li th:unless="${aktif} == about" class="nav-item active">
                <a href="/about" class="navbar-link">About</a>
                </li>
                
               <li th:if="${aktif} == creators" class="nav-item active">
                <a href="/creators" class="navbar-link active">Creators</a>
                </li>
                <li th:unless="${aktif} == creators" class="nav-item active">
                <a href="/creators" class="navbar-link">Creators</a>
                </li>

              
              <li th:if="${aktif} == contact" class="nav-item active">
                <a href="/contact" class="navbar-link active">Contact</a>
                </li>
                <li th:unless="${aktif} == contact" class="nav-item active">
                <a href="/contact" class="navbar-link">Contact</a>
                </li>
                
               <li th:if="${aktif} == contact" class="nav-item active">
                <a href="/explore" class="navbar-link active">Explore</a>
                </li>
                <li th:unless="${aktif} == contact" class="nav-item active">
                <a href="/explore" class="navbar-link">Explore</a>
                </li>
                
                
            </ul>
          </nav>
        </div>

        <div class="header-actions">
          <input type="search" placeholder="Search" class="search-field">

          <a href="/user/signin" class="btn btn-primary" role="button">Sign In</a>
          <a href="/user/signup" class="btn btn-primary" role="button">Sign Up</a>
        </div>

      </div>

    </div>
  </header>
</body>
</html>