<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  
<title>About NFT</title>
</head>
<body>
	 <div th:insert="fragment/header :: header (aktif = 'home')"/>
	 </div>
	   <section class="hero">
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 hero-title">About<span>NFT</span></h1>
             <h2 class="h2 hero-title">NFT adalah sebuah aset digital yang mewakili objek dunia nyata seperti lukisan, seni musik, item dalam game, hingga video pendek. 
             NFT kini semakin terkenal karena mereka dianggap sebagai metode yang praktis untuk membeli dan menjual karya seni digital.</h2>
            <p class="hero-text">
             Nah, meskipun demikian, siapa pun bisa melihat secara keseluruhan karya digital yang sedang dijual. 
            </p>
          </div>
          
          <figure class="hero-banner">
          
            <img src="./assets/images/AmoungUs2.gif" alt="nft logo">
            
          </figure>
        </div>
      </section>
        <div class="container">
          <h2 class="h2 about-title">Contoh Penerapan NFT</h2>

          <ol class="about-list">

            <li class="about-item">
              <div class="about-card">

                <div class="card-number">01</div>

                <div class="card-icon">
                  <img src="./assets/images/single-create-sell-item-1.png" alt="wallet icon">
                </div>

                <h3 class="h3 about-card-title"> NFT Sektor Kesenian</h3>

                <p class="about-card-text">
                 Teknologi blockchain dalam NFT memberikan jaminan bagi seniman atas kepemilikan karyanya. 
                 Ia menjadi cara bagi seniman digital yang selama ini berkutat dengan bahaya plagiarisme dan pencurian kreatif.
                </p>

              </div>
            </li>

            <li class="about-item">
              <div class="about-card">

                <div class="card-number">02</div>

                <div class="card-icon">
                  <img src="./assets/images/single-create-sell-item-2.png" alt="collection icon">
                </div>

                <h3 class="h3 about-card-title">NFT Sektor Bisnis</h3>

                <p class="about-card-text">
                  Di dalamnya, NFT sering digunakan sebagai penghubung antara aset fisik, seperti bukti kepemilikan tanah atau properti lainnya.
                  Akta kepemilikan fisik yang dapat disimpan dianggap lebih aman dalam blockchain dengan proses verifikasi yang singkat.
                </p>

              </div>
            </li>

            <li class="about-item">
              <div class="about-card">

                <div class="card-number">03</div>

                <div class="card-icon">
                  <img src="./assets/images/single-create-sell-item-3.png" alt="folder icon">
                </div>

                <h3 class="h3 about-card-title"> NFT Sektor Hiburan</h3>

                <p class="about-card-text">
                  Contoh penerapan terakhir dari NFT adalah dalam sektor hiburan, seperti gim, olahraga, dan barang-barang koleksi.
                  NFT kini membuka pasar untuk barang-barang koleksi yang dinilai memiliki potensi besar.
                </p>

              </div>
            </li>
            
            <li class="about-item">
              <div class="about-card">

                <div class="card-number">04</div>

                <div class="card-icon">
                  <img src="./assets/images/single-create-sell-item-3.png" alt="folder icon">
                </div>

                <h3 class="h3 about-card-title"> NFT Sektor Musik</h3>

                <p class="about-card-text">
                  NFT membuka peluang bagi para pelajar, mahasiswa, guru musik yang kreatif mendaftarkan asetnya secara digital.bahwa video pembelaran, tutorial musik,
                  dan berbagai aset lainnya dapat digunakan untuk kepentingan pembelajaran musik.
                  
                </p>

              </div>
            </li>

          </ol>
        </div>
      </section>
      
      <br>
      <br>
      <div th:insert="fragment/footer :: footer (aktif = 'home')"/>
      </br>
      </br>
      
</body>
</html>