<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  
<title>Insert title here</title>
</head>
<body>
	 <section class="about">
	  <div th:insert="fragment/header :: header (aktif = 'home')"/>
        <div class="container">
          <h2 class="h2 about-title">Create and sell your NFTs</h2>

          <ol class="about-list">

            <li class="about-item">
              <div class="about-card">

                <div class="card-number">01</div>

                <div class="card-icon">
                  <img src="./assets/images/single-create-sell-item-1.png" alt="wallet icon">
                </div>

                <h3 class="h3 about-card-title">Set up Your Wallet</h3>

                <p class="about-card-text">
                  There are many variations of passagi Ipsum available but the majorty have eration in some form, by
                  injected
                </p>

              </div>
            </li>

            <li class="about-item">
              <div class="about-card">

                <div class="card-number">02</div>

                <div class="card-icon">
                  <img src="./assets/images/single-create-sell-item-2.png" alt="collection icon">
                </div>

                <h3 class="h3 about-card-title">Create Your Collection</h3>

                <p class="about-card-text">
                  There are many variations of passagi Ipsum available but the majorty have eration in some form, by
                  injected
                </p>

              </div>
            </li>

            <li class="about-item">
              <div class="about-card">

                <div class="card-number">03</div>

                <div class="card-icon">
                  <img src="./assets/images/single-create-sell-item-3.png" alt="folder icon">
                </div>

                <h3 class="h3 about-card-title">Add Your NFT's</h3>

                <p class="about-card-text">
                  There are many variations of passagi Ipsum available but the majorty have eration in some form, by
                  injected
                </p>

              </div>
            </li>

            <li class="about-item">
              <div class="about-card">

                <div class="card-number">04</div>

                <div class="card-icon">
                  <img src="./assets/images/single-create-sell-item-4.png" alt="diamond icon">
                </div>

                <h3 class="h3 about-card-title">Sell Your NFT's</h3>

                <p class="about-card-text">
                  There are many variations of passagi Ipsum available but the majorty have eration in some form, by
                  injected
                </p>

              </div>
            </li>

          </ol>

        </div>
      </section>
      
      <div th:insert="fragment/footer :: footer (aktif = 'home')"/>
</body>
</html>