<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeck Beken - NFT Marketplace</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./assets/css/style.css">
  

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	</head>

<body id="top">
	 <div th:insert="fragment/header :: header (aktif = 'index')"/>
	 </div>	
	 <!-- 
        - #HEADER
      -->
  <main>
  
    <article>
    
      <!-- 
        - #HERO
      -->

      <section class="hero">
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 hero-title">Marketplace<span>NFT</span></h1>
             <h2 class="h2 hero-title">Sebagai tempat penjualan gambar dengan berbasis Cryptocurrency</h2>
            <p class="hero-text">
             Kami memberikan layanan mudah untuk Anda, Choose Me, We will serve You!
            </p>

            <div class="btn-group">
              <button class="btn btn-primary"><a href="/explore" class="navbar-link" >Explore More </a></button>
            </div>

          </div>

          <figure class="hero-banner">
            <img src="./assets/images/NFT2.jpg" alt="nft art">
          </figure>

        </div>
      </section>
	
	

			<!-- 
        - #NEW PRODUCT
      -->
       
      <section class="new-product">
	
      
        <div class="container">
        
         <div class="hero-content">

            
          <div class="section-header-wrapper">

            <h2 class="h2 section-title">Newest Items</h2>

            <button class="btn btn-primary">View all</button>
</div>
          
<link rel="stylesheet" href="./assets/css/style.css">
         <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
      </section>

      <!-- 
        - #EXPLORE PRODUCT
      -->
      
      
      <!-- 
        - #TOP SELLER
      -->

    </article>

  </main>

	 <div th:insert="fragment/footer :: footer (aktif = 'index')"/>
	 </div>	

  <!-- - ini awal dari Footer -->
	
	
	<!-- - Ini akhir dari Footer -->




  <!-- - #GO TO TOP -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="arrow-up-outline"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>