<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"><link rel="stylesheet" href="./assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<title>Explore NFT</title>
</head>
<body>
	 <div th:insert="fragment/header :: header (aktif = 'home')"/>
	 </div>
	 <section class="explore-product">
        <div class="container">
        
        <div class="hero-content">

            <h1 class="h1 hero-title">Explore<span>NFT</span></h1>

          <div class="section-header-wrapper">

            <h2 class="h2 section-title">Explore Product</h2>

            <button class="btn btn-primary">Explore</button>

          </div>

          <ul class="product-list">

            <li class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img src="./assets/images/cube3614.gif" alt="Dimond riding a blue body art">

                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>

                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>

                  <button class="place-bid-btn">Place bid</button>

                </figure>

                <div class="product-content">

                  <a href="#" class="h4 product-title">Cubes #3614</a>

                  <div class="product-meta">

                    <div class="product-author">

                      <figure class="author-img">
                        <img src="./assets/images/avatar3.png" alt="Jack Reacher">
                      </figure>

                      <div class="author-content">
                        <h4 class="h5 author-title">JustCubesNFT</h4>

                        <a href="#" class="author-username">@Ethereal_Labs</a>
                      </div>

                    </div>

                    <div class="product-price">
                      <data value="0.568">0.568ETH</data>

                      <p class="label">Current Bid</p>
                    </div>

                  </div>

                  <div class="product-footer">
                    <p class="total-bid">12+ Place Bid.</p>

                    <button class="tag">New</button>
                  </div>

                </div>

              </div>

            </li>

            <li class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img src="./assets/images/lobstar4534.png" alt="The Lobstars is a collection of 7777 lobster portraits by British contemporary artist.">

                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>

                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>

                  <button class="place-bid-btn">Place bid</button>

                </figure>

                <div class="product-content">

                  <a href="#" class="h4 product-title">Lobstars collection of 7777.</a>

                  <div class="product-meta">

                    <div class="product-author">

                      <figure class="author-img">
                        <img src="./assets/images/avatar2.png" alt="Jack Reacher">
                      </figure>

                      <div class="author-content">
                        <h4 class="h5 author-title">dinihohdinilala</h4>

                        <a href="#" class="author-username">@dehahaha</a>
                      </div>

                    </div>

                    <div class="product-price">
                      <data value="0.568">0.568ETH</data>

                      <p class="label">Current Bid</p>
                    </div>

                  </div>

                  <div class="product-footer">
                    <p class="total-bid">12+ Place Bid.</p>

                    <button class="tag">New</button>
                  </div>

                </div>

              </div>

            </li>

            <li class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img src="./assets/images/apocalyptic8603.png" alt="Apocalyptic Apes #4447">

                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>

                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>

                  <button class="place-bid-btn">Place bid</button>

                </figure>

                <div class="product-content">

                  <a href="#" class="h4 product-title">Apocalyptic Apes #4447</a>

                  <div class="product-meta">

                    <div class="product-author">

                      <figure class="author-img">
                        <img src="./assets/images/avatar1.png" alt="Jack Reacher">
                      </figure>

                      <div class="author-content">
                        <h4 class="h5 author-title">mantandinisue</h4>

                        <a href="#" class="author-username">@sukangadingadi</a>
                      </div>

                    </div>

                    <div class="product-price">
                      <data value="0.568">0.568ETH</data>

                      <p class="label">Current Bid</p>
                    </div>

                  </div>

                  <div class="product-footer">
                    <p class="total-bid">12+ Place Bid.</p>

                    <button class="tag">New</button>
                  </div>

                </div>

              </div>

            </li>

            <li class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img src="./assets/images/crytoadz4900.png" alt="crytoadz4900">

                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>

                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>

                  <button class="place-bid-btn">Place bid</button>

                </figure>

                <div class="product-content">

                  <a href="#" class="h4 product-title">crytoadz4900</a>

                  <div class="product-meta">

                    <div class="product-author">

                      <figure class="author-img">
                        <img src="./assets/images/avatar4.png" alt="CrazySlots">
                      </figure>

                      <div class="author-content">
                        <h4 class="h5 author-title">CrazySlots</h4>

                        <a href="#" class="author-username">@CSlots</a>
                      </div>

                    </div>

                    <div class="product-price">
                      <data value="0.568">0.568ETH</data>

                      <p class="label">Current Bid</p>
                    </div>

                  </div>

                  <div class="product-footer">
                    <p class="total-bid">12+ Place Bid.</p>

                    <button class="tag">New</button>
                  </div>

                </div>

              </div>

            </li>

            <li class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img src="./assets/images/sneakers490.png" alt="sneakers490">

                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>

                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>

                  <button class="place-bid-btn">Place bid</button>

                </figure>

                <div class="product-content">

                  <a href="#" class="h4 product-title">sneaker#490</a>

                  <div class="product-meta">

                    <div class="product-author">

                      <figure class="author-img">
                        <img src="./assets/images/avatar5.png" alt="sneakershead">
                      </figure>

                      <div class="author-content">
                        <h4 class="h5 author-title">Sneakershead</h4>

                        <a href="#" class="author-username">@snekhead</a>
                      </div>

                    </div>

                    <div class="product-price">
                      <data value="0.568">0.568ETH</data>

                      <p class="label">Current Bid</p>
                    </div>

                  </div>

                  <div class="product-footer">
                    <p class="total-bid">12+ Place Bid.</p>

                    <button class="tag">New</button>
                  </div>

                </div>

              </div>

            </li>

            <li class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img src="./assets/images/pirates058.gif" alt="letsmovepirates">

                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>

                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>

                  <button class="place-bid-btn">Place bid</button>

                </figure>

                <div class="product-content">

                  <a href="#" class="h4 product-title">Pirates 058</a>

                  <div class="product-meta">

                    <div class="product-author">

                      <figure class="author-img">
                        <img src="./assets/images/avatar6.png" alt="Jack Reacher">
                      </figure>

                      <div class="author-content">
                        <h4 class="h5 author-title">Movegif</h4>

                        <a href="#" class="author-username">@movegif</a>
                      </div>

                    </div>

                    <div class="product-price">
                      <data value="0.568">0.568ETH</data>

                      <p class="label">Current Bid</p>
                    </div>

                  </div>

                  <div class="product-footer">
                    <p class="total-bid">12+ Place Bid.</p>

                    <button class="tag">New</button>
                  </div>

                </div>

              </div>

            </li>

            <li class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img src="./assets/images/l3monad.gif" alt="l3monad">

                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>

                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>

                  <button class="place-bid-btn">Place bid</button>

                </figure>

                <div class="product-content">

                  <a href="#" class="h4 product-title">#02 L3MONAD</a>

                  <div class="product-meta">

                    <div class="product-author">

                      <figure class="author-img">
                        <img src="./assets/images/avatar7.png" alt="Jack Reacher">
                      </figure>

                      <div class="author-content">
                        <h4 class="h5 author-title">lifeofmoon</h4>

                        <a href="#" class="author-username">@liofmon</a>
                      </div>

                    </div>

                    <div class="product-price">
                      <data value="0.568">0.568ETH</data>

                      <p class="label">Current Bid</p>
                    </div>

                  </div>

                  <div class="product-footer">
                    <p class="total-bid">12+ Place Bid.</p>

                    <button class="tag">New</button>
                  </div>

                </div>

              </div>

            </li>

            <li class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img src="./assets/images/asuna1358.jpg" alt="asuna#1358">

                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>

                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>

                  <button class="place-bid-btn">Place bid</button>

                </figure>

                <div class="product-content">

                  <a href="#" class="h4 product-title">Asuna#1358</a>

                  <div class="product-meta">

                    <div class="product-author">

                      <figure class="author-img">
                        <img src="./assets/images/avatar8.png" alt="asuna#1358">
                      </figure>

                      <div class="author-content">
                        <h4 class="h5 author-title">Asuna#1358</h4>

                        <a href="#" class="author-username">@lifeofasuna</a>
                      </div>

                    </div>

                    <div class="product-price">
                      <data value="0.568">0.568ETH</data>

                      <p class="label">Current Bid</p>
                    </div>

                  </div>

                  <div class="product-footer">
                    <p class="total-bid">12+ Place Bid.</p>

                    <button class="tag">New</button>
                  </div>

                </div>

              </div>

            </li>

          </ul>

        </div>
      </section>
      
      <div th:insert="fragment/footer :: footer (aktif = 'home')"/>
</body>
</html>