<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"><link rel="stylesheet" href="./assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<title>Explore NFT</title>
</head>
<body>
	 <div th:insert="fragment/header-user :: header (aktif = 'explore-user')"/>
	 </div>
	 <section class="explore-product">
        <div class="container">
        
        <div class="hero-content">

            <h1 class="h1 hero-title">Explore<span>NFT</span></h1>

          <div class="section-header-wrapper">

            <h2 class="h2 section-title">Explore Product</h2>

            <!-- <button class="btn btn-primary">Explore</button> -->

          </div>

          <ul class="product-list">

            <li th:each="product : ${productModel}" class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img th:src="@{'/create-images/'+${product.images}}" alt="">

                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>

                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>

                  <button class="place-bid-btn">Place bid</button>

                </figure>

                <div class="product-content">

                  <a href="#" th:text="${product.productName}" class="h4 product-title">Dimond riding a blue body art</a>

                  <div class="product-meta">

                    <div class="product-author">

                      <figure class="author-img">
                        <img src="./assets/images/bidding-user.png" alt="">
                      </figure>

                      <div class="author-content">
                        <h4 th:text="${product.creator}" class="h5 author-title">Jack R</h4>

                        <a href="#" th:text="${product.creatorFullName}" class="author-username">@jackr</a>
                      </div>

                    </div>

                    <div class="product-price">
                      <data value="0.568" th:text="${product.price}" >0.568ETH</data>

                      <p class="label">Current Bid</p>
                    </div>

                  </div>

                  <div class="product-footer">
                    <p class="total-bid">12+ Place Bid.</p>

                    <button class="tag">New</button>
                  </div>

                </div>

              </div>

            </li>

            <li class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img src="./assets/images/explore-product-2.jpg" alt="Dimond riding a blue body art">

                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>

                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>

                  <button class="place-bid-btn">Place bid</button>

                </figure>

                <div class="product-content">

                  <a href="#" class="h4 product-title">Dimond riding a blue body art</a>

                  <div class="product-meta">

                    <div class="product-author">

                      <figure class="author-img">
                        <img src="./assets/images/bidding-user.png" alt="Jack Reacher">
                      </figure>

                      <div class="author-content">
                        <h4 class="h5 author-title">Jack R</h4>

                        <a href="#" class="author-username">@jackr</a>
                      </div>

                    </div>

                    <div class="product-price">
                      <data value="0.568">0.568ETH</data>

                      <p class="label">Current Bid</p>
                    </div>

                  </div>

                  <div class="product-footer">
                    <p class="total-bid">12+ Place Bid.</p>

                    <button class="tag">New</button>
                  </div>

                </div>

              </div>

            </li>
            
            <li class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img src="./assets/images/MonyetNFT2.jpg" alt="Karya Milik Bene">

                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>

                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>

                  <button class="place-bid-btn">Place Bid</button>

                </figure>

                <div class="product-content">

                  <a href="#" class="h4 product-title">Karya Milik Bene</a>

                  <div class="product-meta">

                    <div class="product-author">

                      <figure class="author-img">
                        <img src="./assets/images/avatar4.png" alt="Jack Reacher">
                      </figure>

                      <div class="author-content">
                        <h4 class="h5 author-title">Bene A</h4>

                        <a href="#" class="author-username">@benea</a>
                      </div>

                    </div>

                    <div class="product-price">
                      <data value="0.568">0.568ETH</data>

                      <p class="label">Current Bid</p>
                    </div>

                  </div>

                  <div class="product-footer">
                    <p class="total-bid">12+ Place Bid.</p>

                    <button class="tag">New</button>
                  </div>

                </div>

              </div>

            </li>
            
            <li class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img src="./assets/images/monyetNFT3.jpg" alt="Karya Milik Dini">

                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>

                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>

                  <button class="place-bid-btn">Place Bid!</button>

                </figure>

                <div class="product-content">

                  <a href="#" class="h4 product-title">Karya Milik Dini</a>

                  <div class="product-meta">

                    <div class="product-author">

                      <figure class="author-img">
                        <img src="./assets/images/avatar3.png" alt="Jack Reacher">
                      </figure>

                      <div class="author-content">
                        <h4 class="h5 author-title">Din H</h4>

                        <a href="#" class="author-username">@dinh</a>
                      </div>

                    </div>

                    <div class="product-price">
                      <data value="2.568">2.568ETH</data>

                      <p class="label">Current Bid</p>
                    </div>

                  </div>

                  <div class="product-footer">
                    <p class="total-bid">12+ Place Bid.</p>

                    <button class="tag">New</button>
                  </div>

                </div>

              </div>

            </li>
            
           
              

                 <li class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img src="./assets/images/l3monad.gif" alt="l3monad">

                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>

                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>

                  <button class="place-bid-btn">Place bid</button>

                </figure>

                <div class="product-content">

                  <a href="#" class="h4 product-title">#02 L3MONAD</a>

                  <div class="product-meta">

                    <div class="product-author">

                      <figure class="author-img">
                        <img src="./assets/images/avatar7.png" alt="Jack Reacher">
                      </figure>

                      <div class="author-content">
                        <h4 class="h5 author-title">lifeofmoon</h4>

                        <a href="#" class="author-username">@liofmon</a>
                      </div>

                    </div>

                    <div class="product-price">
                      <data value="0.568">0.568ETH</data>

                      <p class="label">Current Bid</p>
                    </div>

                  </div>

                  <div class="product-footer">
                    <p class="total-bid">12+ Place Bid.</p>

                    <button class="tag">New</button>
                  </div>

            </li>
            
          </ul>

        </div>
      </section>
      
      <div th:insert="fragment/footer-user :: footer (aktif = 'explore-user')"/>
</body>
</html>